<main role="spacex-items" class="spacex-items">
  <section>
    <header>
      <h1>SpaceX Launch Programs</h1>
    </header>
  </section>
  <section class = "">
    <div class = "spacex-content">
      <div class = "cards filter-section">
        <span class ="heading">Filters</span>
        <div class = "filter-year">
          <span class = "filter-heading">Launch Year</span>
          <div id = "years" class = "filters years">
            <div class = "button" *ngFor = "let year of launchYearFilter" (click)="filterResults($event)">{{year}}</div>
          </div>
        </div>
        <div class = "filter-launch">
          <span class = "filter-heading">Successful Launch</span>
          <div id="successfulLaunch" class = "filters successfulLaunch">
            <div class = "button" (click)="filterResults($event)">True</div>
            <div class = "button" (click)="filterResults($event)">False</div>
          </div>
        </div>
        <div class = "filter-landing">
          <span class = "filter-heading">Successful Landing</span>
          <div id="landingAttempt" class = "filters landingAttempt">
            <div class = "button" (click)="filterResults($event)">True</div>
            <div class = "button" (click)="filterResults($event)">False</div>
          </div>
        </div>
      </div>
      <div class = "content-section">
        <div class = "content-cards cards" *ngFor="let item of launchProgram; let index=index;">
          <div class="program-image">
            <img src="{{item.links.patch.small}}"/>
          </div>
          <section class="program-details">
            <span class = "card-heading">{{item.name}}</span>
            <div class = "card-details">
              <div>
                <span class="detail-heading">Mission IDs : </span> <span class="detail-values">{{item.id}}</span>
              </div>
              <div>
                <span class="detail-heading">Launch Year : </span> <span class="detail-values">{{item.static_fire_date_utc | date : 'yyyy'}}</span>
              </div>
              <div>
                <span class="detail-heading">Successful Launch : </span> <span class="detail-values">{{item.successfulLaunch}}</span>
              </div>
              <div>
                <span class="detail-heading">Successful Landing : </span> <span class="detail-values">{{item.landingAttempt}}</span>
              </div>
            </div>
          </section>
        </div>
        <div class = "no-data" *ngIf = "launchProgram.length == 0">
          <h1>No programs exists</h1>
        </div>
      </div>
    </div>
  </section>
</main>

