.cards{
    background-color: white;
    margin: 10px 0;
    background-color: white;
    margin: 10px 10px 0 0;
    padding: 8px;
}
.filter-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}

.active{
    background : rgb(33, 204, 33) !important;
}
.filters .button{
    border-radius: 22px;
    background: darkseagreen;
    color: white;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    margin: 15px;
    flex: 0 0 35%;
    cursor: pointer;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
span.heading{
    font-weight: 700;
}
.program-image{
    display: flex;
    justify-content: center;
    background-color:#8080801c;
    min-height: 55%;
}
.program-image img{
    width: 70%;
}
.program-details{
    margin: 15px 0;
}
.detail-values{
    color : blue;
}
.detail-heading{
    font-weight: 600;
}
.card-heading{
    font-size: 20px;
    font-weight: 700;
    color: blue;
}
.card-details{
    margin-top: 8px;
}

.content-cards{
    border: none;
}

/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 1024px) {
    .spacex-content{
        display: flex;
    }
    .content-section{
        display: flex;
        flex-wrap: wrap;
        min-width: 75%;
        flex: 0 0 22.33% !important;
    }
    .cards{
        flex: 1 0 30%;
    }
}

@media screen and (min-width: 1440px) {
    .spacex-content{
        display: flex;
    }
    .content-section{
        display: flex;
        flex-wrap: wrap;
        max-height: 40rem;
        overflow-y: auto;
        min-width: 75%;
        flex: 0 0 22.33% !important;
    }
    .cards{
        flex: 1 0 20%;
    }
    .filters .button{
        padding: 2px 2px;
    }
}

